<div class="mt-4">
    <form method="POST" >
        <div class="form-group" >
            <label for="search-input">Nhập từ khóa: </label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Enter keywords">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>